<html style="font-size: 100px;">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/home/js/vonic/vonic.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/public.css">
    <script src="__PUBLIC__/home/js/jquery.js"></script>
    <script src="__PUBLIC__/home/js/public.js"></script>
    <title>{$meta_title}</title>
    <block name="css"></block>
</head>

<body class="grade-a">
<block name="main"></block>
<block name="other"></block>
<block name="menus"></block>
<block name="js"></block>
</body>
</html>