<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" action="{:U('update')}" method="post">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 用户名 </label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="rcol-xs-10 col-sm-5" value="{$anchor.user}">
                                    <input type="hidden" name="uid" value="{$member['uid']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">无法修改</span>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 昵称 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="username" <if condition="anchor['uid'] eq 1">readonly</if> class="rcol-xs-10 col-sm-5" value="{$anchor.username}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <if condition="anchor['uid'] eq 1"><span class="middle">无法修改</span></if>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">
                                    主播分类 </label>
                                <div class="col-sm-9">
                                    <div class="col-sm-9">
                                        <div class="widget-body">
                                            <div class="widget-main row">
                                                <volist name="category" id="vv">
                                                    <label class="col-xs-4 col-sm-3">
                                                        <input name="serve_type[]" class="ace ace-checkbox-2 children" <?php if(in_array($vv['serve_type_id'],$anchor_category)){echo 'checked="checked"';};?> type="checkbox" value="{$vv['serve_type_id']}"/>
                                                        <span class="lbl"> {$vv['title']}</span>
                                                        <select id="level" name="level">
                                                            <?php
                                                                if(isset($vv['class']) && !empty($vv['class'])){
                                                                    $class_array = explode(',',$vv['class']);
                                                                    foreach($class_array as $k_class => $v_class){
                                                                        echo "<option value='".$k_class."'";
                                                                        if(isset($anchor_type) && !empty($anchor_type)){
                                                                            foreach($anchor_type as $k_at => $v_at){
                                                                                if($v_at['serve_id'] == $vv['serve_type_id'] && $v_at['level'] == $k_class){
                                                                                    echo "selected='selected'";
                                                                                }
                                                                            }
                                                                        }
                                                                        echo ">".$v_class."</option>";
                                                                    }
                                                                }
                                                            ?>
                                                        </select>
                                                    </label>
                                                </volist>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 接单时间 </label>
                                <div class="col-sm-9">
                                    <select id="order_time_start" name="order_time_start">
                                        <volist name="order_time" id="st">
                                            <option value="{$st}" <if condition="$order_start_end[0] eq $st">selected="selected"</if>>{$st}</option>
                                        </volist>
                                    </select>
                                    至
                                    <select id="order_time_end" name="order_time_end">
                                        <volist name="order_time" id="st">
                                            <option value="{$st}"<if condition="$order_start_end[1] eq $st">selected="selected"</if>>{$st}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>


                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 视频展示 </label>
                                <div class="col-sm-9">
                                    <div class="col-xs-10 col-sm-5">
                                        <input type="file" id="upload_picture">
                                        <input id= "video_mp4" type="hidden" name="video" value="{$anchor.video}">
                                        <video id="videoMp4" controls="controls" height="270" width="150" class="videoMp4Android" src="{$anchor.video}"></video>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">仅支持mp4，且小于5MB。</span>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">

                                //上传图片
                                /* 初始化上传插件 */
                                $("#upload_picture").uploadifive({

                                    'auto'          : true,     //自动上传
                                    'width'         : '120px',   //按钮宽度
                                    'height'        : '30px',   //按钮高度
                                    'uploadScript'  : "{:U('upload/uploadVideo',array('session_id'=>session_id()))}",  //上传方法
                                    'fileObjName'   : 'download',
                                    'buttonText'    : '上传视频',
                                    'fileType'      : '*.mp4;',
                                    'multi'         : false,
                                    'fileSizeLimit' : '5MB',
                                    'uploadLimit'   : 0,
                                    'removeTimeout' : 1,
                                    'queueSizeLimit'    : 1,
                                    'removeCompleted'   : true,   //上传完成后自动隐藏列表
                                    'onAddQueueItem' : function(file){
                                        this.data('uploadifive').settings.formData = {'id':$(this).data('id')};    //传递动态参数方法
                                    },
                                    'onUploadComplete' : function(file, data){
                                        var data = $.parseJSON(data);
                                        if(data.status){
                                            $('#videoMp4').attr('src',data.data);
                                            $('#video_mp4').val(data.data);
                                        } else {
                                            alert(data.data);
                                        }
                                    },

                                });
                            </script>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 魅力值 </label>
                                <div class="col-sm-9">
                                    <input type="number" name="usercp" <if condition="anchor['uid'] eq 1">readonly</if> class="rcol-xs-10 col-sm-5" value="{$anchor.usercp}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <if condition="anchor['uid'] eq 1"><span class="middle">无法修改</span></if>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" > 签名 </label>
                                <div class="col-sm-9">
                                    <textarea name="signature" id="signature" cols="30" rows="4" maxlength="50" class="col-xs-10 col-sm-5">{$anchor['signature']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">主播签名最多50个字</span>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 身高 </label>
                                <div class="col-sm-5">
                                    <input type="number" name="height" class="rcol-xs-12 col-sm-7" value="{$anchor.height}">
                                    <span class="help-inline col-xs-6 col-sm-3">
                                        <span class="middle">单位cm</span>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 职业 </label>
                                <div class="col-sm-9">
                                    <select id="sex" name="sex">
                                        <foreach name="profession" item="pro_v" key="pro_k">
                                            <option value="{$pro_k}" <if condition="$anchor['profession'] eq $pro_k">selected="selected"</if>>{$pro_v}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">
                                    魅力部位 </label>
                                <div class="col-sm-9">
                                    <div class="col-sm-9">
                                        <div class="widget-body">
                                            <div class="widget-main row">
                                                <foreach item="charm" key="ck" id="cv">
                                                    <label class="col-xs-4 col-sm-3">
                                                        <input name="charm[]" class="ace ace-checkbox-2 children"
                                                        <?php if(in_array($vv['serve_type_id'],$anchor_category)){echo 'checked="checked"';};?>
                                                        type="checkbox" value="{$ck}"/>
                                                        <span class="lbl"> {$cv}</span>
                                                    </label>
                                                </foreach>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">生日</label>
                                <div class="col-xs-9 col-sm-9">
                                    <div class="input-group col-xs-5">

                                        <input class="form-control" id="birthday" name="birthday" value="<if condition="
                                               $member['birthday'] neq '' ">{$member['birthday']|date="Y-m-d",###}</if>"
                                        type="text" data-date-format="dd-mm-yyyy" />
                                        <span class="input-group-addon">
													<i class="ace-icon fa fa-calendar bigger-110"></i>
												</span>

                                    </div>
                                </div>
                            </div>


                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 手机 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="phone" id="phone" placeholder="手机"
                                           class="col-xs-10 col-sm-5" value="{$member['phone']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> Q&nbsp;&nbsp;Q </label>
                                <div class="col-sm-9">
                                    <input type="text" name="qq" id="qq" placeholder="QQ" class="col-xs-10 col-sm-5"
                                           value="{$member['qq']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">
                                    E-mail </label>
                                <div class="col-sm-9">
                                    <input type="email" name="email" id="email" placeholder="E-mail"
                                           class="col-xs-10 col-sm-5" value="{$member['email']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 实名认证 </label>
                                <div class="col-sm-9">
                                    <select id="attestation" name="attestation">
                                        <option value="0"
                                        <if condition="$member['attestation'] eq 0">selected="selected"</if>
                                        >未认证</option>
                                        <option value="1"
                                        <if condition="$member['attestation'] eq 1">selected="selected"</if>
                                        >已认证</option>
                                    </select>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 地址 </label>
                                <div class="col-sm-9" id="cityJs">
                                    <select  name="prov" class="rcol-xs-10 col-sm-5 prov"></select>
                                    <select  name="city" class="rcol-xs-10 col-sm-5 city" disabled="disabled"></select>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 贡献值 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="contribution" id="contribution" placeholder="贡献值"
                                           class="col-xs-10 col-sm-5" value="{$member['contribution']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 状态 </label>
                                <div class="col-sm-9">
                                    <select id="status" name="status">
                                        <option value="1"
                                        <if condition="$member['status'] eq 1">selected="selected"</if>
                                        >正常</option>
                                        <option value="0"
                                        <if condition="$member['status'] eq 0">selected="selected"</if>
                                        >禁用</option>
                                    </select>
                                </div>
                            </div>


                            <div class="space-4"></div>

                            <div class="col-md-offset-2 col-md-9">
                                <!--<button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>-->
                                <a href="javascript:void(0);" onclick="return false" class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </a>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/manage/js/date-time/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/static/js/cityJs/jquery.cityselect.js"></script>
<script type="text/javascript">
    var prov = '北京';
    var city = "东城区";

    <if condition="$member['prov'] neq ''">prov = "{$meber['prov']}"</if>
    <if condition="$member['city'] neq ''">city = "{$meber['city']}"</if>

        jQuery(function ($) {
        $("#cityJs").citySelect({
            url:"__PUBLIC__/static/js/cityJs/city.min.js",
            prov:prov,
            city:city
        });

        $('#birthday').datepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'cn'
        });
    });
</script>
</body>
</html>
