<extend name="Public/base" />
<block name="main">
    <div von-app="" transition-direction="forward">
        <div class="page has-navbar">
            <div class="scroll page-content pull-down">
                <div class="scroll-inner" style="transform: translate3d(0px, 0px, 0px);"><!---->
                    <div class="xieyi-content">
                        <div class="xieyi-title">“XXXXX”陪玩申请协议</div>
                        <p class="xieyi-text">
                            本《陪玩申请协议》是您（下称"用户"）与北京XXXX在线科技有限公司（下称"XXXX"）之间在申请成为XXXX旗下XXXXX平台（下称"XXXXX"）陪玩人员（下称"陪陪"）时签署的协议。
                            <br>
                            1、重要须知---在签署本协议之前，XXXX正式提醒用户：
                            <br>
                            1.1、您应认真阅读（未成年人应当在监护人陪同下阅读）、充分理解本《陪玩申请协议》中各条款，包括免除或者限制XXXX责任的免责条款及对用户的权利限制条款。
                            <br>
                            1.2、除非您接受本协议，否则用户无权也无必要继续接受XXXX的服务，可以退出本次注册。用户点击接受并继续使用XXXX的服务，视为用户已完全的接受本协议。
                            <br>
                            1.3、本协议一经签署，具有法律效力，请您慎重考虑是否接受本协议。
                            <br>
                            1.4、在您签署本协议之后，此文本可能因国家政策、产品以及履行本协议的环境发生变化而进行修改，修改后的协议发布在本网站上，若您对修改后的协议有异议的，请立即停止登录、使用XXXX产品及服务，若您登录或继续使用XXXX产品，视为对修改后的协议予以认可。
                            <br>
                            2、关于“XXXXX帐号”
                            <br>
                            2.1、XXXX旗下业务平台XXXX网（aaaa.com）、XXXXX（y.aaaa.com）以及英雄训练营（t.aaaa.com）上同时提供用户注册通道，用户在任一通道注册获得XXXXX帐号。
                            <br>
                            2.2、用户在首次注册XXXXX账户成功之后，XXXX会按系统规则自动分配给用户一个UID号码，UID号码与XXXXX账号一样是用户接受XXXXX服务的身份识别凭证。
                            <br>
                            2.3、XXXXX账号以及UID号码的性质上是XXXX提供服务授予用户的凭证，XXXXX账号和UID号码是XXXX相应计算机软件作品的一部分，即XXXX将相关产品计算机软件著作权授权给注册用户的授权凭证。
                            <br>
                            2.4、XXXXX账号还是用户持有、使用相关虚拟财产、道具的身份凭证。用户若需要接受XXXX提供的增值服务，XXXXX账号同时也是用户支付费用、接受增值服务的凭证。
                            <br>
                            2.5、用户应当妥善保管自己的XXXXX账号、密码，用户就其账号及密码项下之一切活动负全部责任，包括用户数据的修改，虚拟道具的损失以及其他所有的损失由用户自行承担。用户如发现他人未经许可使用其账号时立即通知XXXX。
                            <br>
                            2.6、用户XXXXX账号在丢失或遗忘密码后，可通过手机验证码的方式找回，如果未绑定手机号，需联系XXXX客服进行申诉找回帐号。用户应不断提供能增加账号安全性的个人密码保护资料。对用户因被他人冒名申诉而致的任何损失，XXXX不承担任何责任。
                            <br>
                            2.7、用户保证注册XXXXX账号时填写的身份信息是真实的，任何非法、不真实、不准确的用户信息所产生的责任由用户承担。如果因用户的注册信息不真实而引起的问题，以及对问题发生所带来的后果，XXXX不负任何责任。
                            <br>
                            2.8、如用户违反法律法规、XXXX各服务协议或XXXXX陪玩守则等规定，XXXX有权根据相关规则进行违规判定，并采取相应限制或处罚措施，包括但不限于：限制或冻结用户对XXXXX帐号的使用，限制或停止某项单独服务（如线上LOL陪玩），扣除保证金，扣减收入分成并根据实际情况决定是否恢复使用。
                            <br>
                            3、审核通过的陪陪不得从事以下行为：
                            <br>
                            3.1、利用XXXXX平台发表、传播代练、代打、政治、色情等相关信息。
                            <br>
                            3.2、利用XXXXX平台产生欺诈、诱导买家第三方平台进行交易等行为，如私单、微信红包、QQ红包等。
                            <br>
                            3.3、在陪玩过程中进行挂机、代打、消失、消极服务、谩骂等行为。
                            <br>
                            3.4、进行其他任何违法以及侵犯其他个人、公司、社会团体、组织的合法权益的行为。
                            <br>
                            3.5、利用XXXXX平台产生欺诈、诱导买家第三方平台进行交易等行为，如私单、微信红包、QQ红包等。
                            <br>
                            4、XXXXX声明
                            <br>
                            4.1、用户须明白，在陪玩过程中可能存在有来自任何他人的包括威胁性的、诽谤性的、令人反感的或非法的内容或行为或对他人权利的侵犯（包括知识产权）的匿名或冒名的信息的风险，用户须承担以上风险，XXXX对服务不作担保，不论是明确的或隐含的，包括所有有关信息真实性、适当性、适于某一特定用途、所有权和非侵权性的默示担保和条件，对因此导致任何因用户不正当或非法使用服务产生的直接、间接、偶然、特殊及后续的损害，不承担任何责任。
                            <br>
                            4.2、使用XXXXX服务必须遵守国家有关法律和政策等，维护国家利益，保护国家安全，并遵守本条款，对于用户违法或违反本协议的使用(包括但不限于言论发表、传送等)而引起的一切责任，由用户负全部责任。
                            <br>
                            4.3、XXXXX的服务同大多数因特网产品一样，易受到各种安全问题的困扰，包括但不限于：
                            <br>1）透露详细个人资料，被不法分子利用，造成现实生活中的骚扰；
                            <br>2）哄骗、套取密码； 对于发生上述情况的，用户应当自行承担责任。
                            <br>
                            4.4、用户须明白，XXXX为了服务整体运营的需要，有权在公告通知后修改或中断、中止或终止服务而不需通知您的权利，而无须向第三方负责或承担任何赔偿责任。
                            <br>
                            5、知识产权
                            <br>
                            5.1、XXXXX的服务包括运营的网站、网页应用、软件以及内涵的文字、图片、视频、音频等元素，XXXXX服务标志、标识以及专利权，XXXX对此享有上述知识产权。
                            <br>
                            5.2、用户在使用XXXXX服务时发表上传的文字、图片、视频、软件以及表演等用户原创的信息，此部分信息的知识产权归用户，但用户的发表、上传行为是对XXXXX平台的授权，用户确认其发表、上传的信息非独占性、永久性的授权，该授权可转授权。XXXX可将前述信息在XXXX旗下的服务平台上使用，可再次编辑后使用，也可以由XXXX授权给合作方使用。
                            <br>
                            5.3、若XXXXX平台内的信息以及其他用户上传、存储、传播的信息有侵犯的用户或第三人的知识产权的，XXXX网站提供投诉通道。
                            <br>
                            6、隐私保护
                            <br>
                            6.1、请用户注意勿在使用XXXXX服务中透露自己的各类财产帐户、银行卡、信用卡、第三方支付账户及对应密码等重要资料，否则由此带来的任何损失由用户自行承担。
                            <br>
                            6.2、用户的XXXXX账号、密码属于保密信息，XXXX应当采取积极的措施保护用户账号、密码的安全。
                            <br>
                            6.3、用户的注册信息作为XXXX的商业秘密进来保护。但用户同时明白，互联网的开放性以及技术更新非常快，非XXXX可控制的因素导致用户泄漏的，XXXX不承担责任。
                            <br>
                            6.4、用户在使用XXXXX服务时不可将自认为隐私的信息发表、上传至XXXX，也不可将该等信息通过XXXX的服务传播给其他人，若用户的行为引起的隐私泄漏，由用户承担责任。
                            <br>
                            6.5、XXXX在提供服务时可能会搜集用户信息，XXXX会明确告知用户，通常信息仅限于用户姓名、性别、年龄、出生日期、身份证号、家庭住址、教育程度、公司情况、所属行业、兴趣爱好等。
                            <br>
                            6.6、就下列相关事宜的发生，XXXX不承担任何法律责任：
                            <br>1）XXXX根据法律规定或相关政府、司法机关的要求提供您的个人信息；
                            <br>2）由于用户将用户密码告知他人或与他人共享注册账户，由此导致的任何个人信息的泄漏，或其他非因XXXX原因导致的个人信息的泄漏；
                            <br>3）任何由于黑客攻击、电脑病毒侵入造成的信息泄漏；
                            <br>4）因不可抗力导致的信息泄漏；
                            7、其他条款
                            <br>
                            7.1、本协议由XXXX公布在网站上，对XXXX具有法律约束力；用户一经点击接受或者直接登录的行为视为对本协议的接受，对用户具有法律约束力。</p></div> <!----></div>
            </div>
            <a href="{:U('user/index')}"><div class="keep">同意并进入下一步</div></a>
        </div>
    </div>
</block>