<html style="font-size: 50px;">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/home/vonic/vonic.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/public.css">
    <script src="__PUBLIC__/home/js/public.js"></script>
    <title>{$meta_title}</title>
</head>
<body class="grade-b">
<div von-app="" transition-direction="forward">
    <div class="page has-navbar">
        <div class="scroll page-content pull-down">
            <div class="scroll-inner" style="transform: translate3d(0px, 0px, 0px);">
                <!--头部基础信息---start-->
                <div>
                    <!--视频---start-->
                    <div class="divMp4">
                        <video id="videoMp4" class="videoMp4" src="__PUBLIC__/demo/9811591495102218.mp4"></video>
                    </div>
                    <!--视频---end---->
                    <!--banner----start-->
                    <div class="banner_bogbox">
                        <!--背景----start-->
                        <div class="banner"><img src="__PUBLIC__/demo/banner.jpg"></div>
                        <!--背景----end---->
                        <div class="header_box">
                            <!--头像----start-->
                            <div class="fl header_demo_box"><div class="header_demo"><img src="__PUBLIC__/demo/26_avatar_big.jpg"></div></div>
                            <!--头像----end---->
                            <div class="fl play_box">
                                <div class="play_name">可儿丶</div>
                                <div class="play_time">接单时间 00:00-24:00</div>
                                <!--真人认证，关注---start-->
                                <div class="play_img">
                                    <img src="__PUBLIC__/demo/authentication.png" class="authentication">
                                    <img src="__PUBLIC__/demo/love.png" class="love" style="display: none;">
                                </div>
                                <!--真人认证，关注---end---->
                            </div>
                            <!--视频播放---start-->
                            <div class="fl play"><img src="__PUBLIC__/demo/clickActive.png" class="clickActive"></div>
                            <!--视频播放---end---->
                            <div class="clearfix"></div>
                        </div>
                        <!--基础信息----start-->
                        <div class="banner_bottom">
                            <div class="fl charm">魅力值<span class="spanMeili">2564</span></div>
                            <div class="fr charm_sex"><img src="__PUBLIC__/demo/sex_woman.png">21<span>| </span>北京<span> |</span> 2小时</div>
                            <div class="clearfix"></div>
                            <div class="underwrite">0.0你还差个可儿宝宝呀</div>
                        </div>
                        <!--基础信息-----end--->
                    </div>
                    <!--banner----end---->
                </div>
                <!--头部基础信息---end---->
                <!--服务动态------start-->
                <div class="content_box">
                    <div>
                        <div class="padding"><span class="active">服务</span><span class="">动态</span></div>
                        <div class="item thin-border">

                            <div style="">
                                <div class="content_typebox">
                                    <div class="swiper-container swiper-container-horizontal swiper-container-free-mode" style="">
                                        <div class="swiper-wrapper" style="transition-duration: 0ms;">
                                            <!--服务项目列表----start-->
                                            <div class="swiper-slide swiper-slide-active" style="width: 125px;">
                                                <div class="content_type fl">
                                                    <div class="header_img">
                                                        <img src="__PUBLIC__/demo/1158251499908465.jpg">
                                                    </div>
                                                    <div class="fl header_title">线上LOL</div>
                                                    <div class="fr header_titleimg" style="display: none;">
                                                        <img src="__PUBLIC__/demo/header_titleimg.png">
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="header_title_bottom" style="display: none;">
                                                        <img src="__PUBLIC__/demo/header_title_bottom.png">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--服务项目列表----end---->
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!--服务商品介绍----start-->
                                <div class="order_box">
                                    <div class="fl order_01">虚拟恋人</div>
                                    <div class="fl order_02">韵味</div>
                                    <div class="fr order_03">￥<span>520</span>/天</div>
                                    <div class="fr festival" style="display: none;"></div>
                                    <div class="fr festival" style="padding-top: 0.1rem;">
                                        <img src="" style="width: 0.4rem; display: none"></div>
                                    <div class="clearfix"></div>
                                    <div class="order_04 fl">接单8次</div>
                                    <div class="fr divYuanjia" style="display: none;">￥520/天</div>
                                    <div class="clearfix"></div>
                                    <div class="voice">
                                        <video id="videoMp3" webkit-playsinline="true" playsinline="true" src="__PUBLIC__/demo/1765661496402891.MP3"></video>
                                        <img src="__PUBLIC__/demo/video_mp3.png">
                                        <span>10</span>秒
                                    </div>
                                    <!--服务描述----start-->
                                    <div class="present">
                                        <p style="white-space: normal;"><span style="white-space: nowrap;"><strong></strong></span></p>
                                        <p><span style="white-space: nowrap;">什么是虚拟恋人？</span></p>
                                        <p><span style="white-space: nowrap;">虚拟恋人是你网络上的专属恋人，时时伴你左右，可以一起畅玩召唤师峡谷，一起观影聊天。愿我们的喃喃细语能抚平你寂寞孤独的心，愿我们俏丽无邪的脸庞如冰饮般沁入你心，带走烦闷。</span></p>
                                        <p><span style="white-space: nowrap;">服务内容：唤醒你 + 打游戏/聊聊天/观影/视频（不超过2小时） + 哄你睡觉</span></p>
                                        <p><span style="white-space: nowrap;">还可全程文字聊天，全程自定义昵称互相称呼。</span></p>
                                    </div>
                                    <!--服务描述----end--->
                                </div>
                                <!--服务商品介绍----end---->
                                <!--评论头部-------start-->
                                <div class="discuss_box">
                                    <div class="discuss">评论(5)
                                        <div class="order_05 fr">10.0</div>
                                    </div>
                                </div>
                                <!--评论头部-------end---->
                                <!--评论内容-------start-->
                                <div id="divComment">
                                    <!--评论列表----start-->
                                    <div class="assess_time_bigbox">
                                        <!--留言者头像---start-->
                                        <div class="fl header_simg_box">
                                            <div class="header_simg">
                                                <img src="__PUBLIC__/demo/48_avatar_middle.jpg">
                                            </div>
                                        </div>
                                        <!--留言者头像---end---->
                                        <div class="fl assess_time_box">
                                            <!--留言者姓名、分类、星级----start-->
                                            <div>
                                                <div class="fl assess_time">陈氏*****<span class="span-liang">靓 521521</span><span class="span-hao">壕 521521</span></div>
                                                <div class="fr star_box" style="font-size: 0.24rem; color: rgb(255, 97, 107);">
                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <!--留言者姓名、分类、星级-----end--->
                                            <!--留言内容时间----start-->
                                            <div class="star_text">可以的嘿嘿嘿</div>
                                            <div class="assess_time">2018-02-02 12:24</div>
                                            <!--留言内容时间----end---->
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!--评论列表----end---->
                                </div>
                                <!--评论内容-------end---->
                                <!--加载状态-------start-->
                                <div class="more_comment" style="display: none;">加载更多评论</div>
                                <div class="more_comment" style="display: none;">暂无评论</div>
                                <div class="more_comment" style="">没有更多了</div>
                                <!--加载状态-------end---->
                            </div>
                            <!--服务---end---->
                            <!--动态---start-->
                            <div style="display: none;">
                                <!--动态列表---start--->
                                <div class="courses_scontent">
                                    <div class="cont_img_box"><img src="__PUBLIC__/demo/237826-31095942.jpeg" class="cont_img"></div>
                                    <div class="courses_text">00</div>
                                    <div class="courses_time">2018-01-31 21:59</div>
                                </div>
                                <!--动态列表---end----->
                                <!--主播资料---start--->
                                <div>
                                    <div class="discuss">资料</div>
                                    <ul class="datum">
                                        <li>身高：<span>162CM</span></li>
                                        <li>星座：<span>天蝎座</span></li>
                                        <li>职业：<span>学生</span></li>
                                        <li>魅力部位：<span>眼睛、胸部</span></li>
                                        <li>
                                            个性标签：
                                            <span>颜值担当、乖巧黏人</span></li>
                                        <li>
                                            兴趣爱好：
                                            <span></span></li>
                                    </ul>
                                </div>
                                <!--主播资料---end--->
                            </div>
                            <!--动态---end---->
                        </div>
                    </div>
                </div>
                <!--服务动态------end---->
            </div>
        </div>
        <!--订单底部按钮---start-->
        <div class="chat_bottom_box">
            <div class="chat_bottom">
                <div class="fl chat clickActive"><img src="__PUBLIC__/demo/clickActive_chat.png">聊天</div>
                <div class="fl chat_share clickActive"><img src="__PUBLIC__/demo/clickActive_share.png">分享</div>
                <div class="fl chat_order clickActive">下单</div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--订单底部按钮---end---->
        <!--遮罩层----start-->
        <div class="clickActive" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(3, 3, 3, 0.7); z-index: 10000; display: none;">
            <img src="" class="imgBig">
        </div>
        <!--遮罩层----end-->
        <!--分享提示---start-->
        <div class="clickActive divContentShare" style="display: none;">
            <div>
                <img src="__PUBLIC__/demo/shareline.png" class="imgShare">
            </div>
            <p>
                请点击右上角
                <br>
                【发送给朋友】或【分享到朋友圈】
            </p>
        </div>
        <!--分享提示---end---->
        <!--返回首页---start-->
        <img src="__PUBLIC__/demo/gohome.png" id="addcontent_hide_01" class="imgGoHome"> <!---->
        <!--返回首页---start-->
        <!--页面加载中--start-->
        <div id="gloabLoading" class="gloabLoading" style="display: none;">
            <div class="gloabLoading_text">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" xml:space="preserve">
                    <path d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z" stroke="#f0f0f0" fill="#d0d0d0" transform="rotate(108.967 25 25)">
                        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform>
                    </path>
                </svg>
                <div>加载中...</div>
            </div>
        </div>
        <!--页面加载中---end-->
        <!--视频播放弹窗--start-->
        <div class="divVideoMp4Android" style="display: none;">
            <video id="videoMp4Android" class="videoMp4Android" src="__PUBLIC__/demo/9811591495102218.mp4"></video>
            <div>关闭</div>
        </div>
        <!--视频播放弹窗--end--->
    </div>
</div>
</body>
</html>