<extend name="Public/base" />
<block name="main">
    <div von-app="">
        <div>
            <div class="main_content" style="top: 0px;">
                <div class="page"><!---->
                    <div class="page has-navbar has-tabbar" transition="slide">
                        <div class="scroll page-content pull-down">
                            <div class="scroll-inner" style="transform: translate3d(0px, 0px, 0px);"><!---->
                                <div class="home_content">
                                    <!--搜索框跳转--start-->
                                    <a href="{:U('anchor/searchAnchor')}">
                                    <div class="divHomeSearch">
                                        <img src="__PUBLIC__/demo/divHomeSearch.png">
                                        搜索昵称
                                    </div>
                                    </a>
                                    <!--搜索框跳转--end---->
                                    <!--首页头部banner---start-->
                                    <div class="swiper_content">
                                        <div class="swiper-container" id="banner">
                                            <div class="swiper-wrapper" style="">
                                                <volist name="banner" id="valb">
                                                    <div class="swiper-slide">
                                                        <img src="{$valb['pic']}">
                                                    </div>
                                                </volist>
                                            </div>
                                            <!--重写banner引导图标--start-->
                                            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
                                                 style="bottom: 12%; z-index: 99;">
                                                <span class="swiper-pagination-bullet"></span>
                                                <span class="swiper-pagination-bullet"></span>
                                                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                                                <span class="swiper-pagination-bullet"></span>
                                            </div>
                                            <!--重新banner引导图标--end--->
                                        </div>
                                        <img src="__PUBLIC__/demo/bottom_hu.png" class="swiper_bottom">
                                    </div>
                                    <!--首页头部banner---end---->
                                    <!--分类--start-->
                                    <div class="swiper-container swiper-container-horizontal" id="category"
                                         style="background: rgb(255, 255, 255); border-bottom: 1px solid rgb(231, 231, 231);">
                                        <div class="swiper-wrapper"
                                             style="width: 1500px; transform: translate3d(0px, 0px, 0px);">
                                            <!--分类滚动--start-->
                                            <volist name="serve_type" id="se">
                                                <div class="category_content swiper-slide">
                                                    <volist name="se" id="se_list">
                                                        <a href="#">
                                                            <div class="category_item">
                                                                <div class="clickActive category_item_content">
                                                                    <div><img src="{$se_list['icon']}"></div>
                                                                    <p>{$se_list['title']}</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </volist>
                                                </div>
                                            </volist>

                                            <div class="category_content swiper-slide">
                                                <!--分类列表---start-->
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <!--分类列表---end---->
                                            </div>
                                            <div class="category_content swiper-slide" style="width: 750px;">
                                                <!--分类列表---start-->
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                                <div class="category_item">
                                                    <div class="clickActive category_item_content">
                                                        <div><img src="__PUBLIC__/demo/wx_lol.png"></div>
                                                        <p>线上LOL</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--分类滚动--end-->
                                        </div>
                                        <!--重写分类引导图标--start-->
                                        <div class="swiper-pagination category-pagination swiper-pagination-clickable swiper-pagination-bullets"
                                             style="bottom: 5%; z-index: 99;">
                                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                                            <span class="swiper-pagination-bullet"></span>
                                        </div>
                                        <!--重写分类引导图标--end---->
                                    </div>
                                    <!--分类--end---->
                                    <!--主播内容--start-->
                                    <div class="homelist_content">
                                        <volist name="anchor_list" id="ac_list">
                                            <div class="listitem_content">
                                                <h3>{$ac_list['title']}<span style="">+MORE</span></h3>
                                                <volist name="ac_list['anchor_list']" id="a_list">
                                                    <a href="{:U('anchor/index')}">
                                                        <div class="listitem_item">
                                                            <div class="singleitem_content">
                                                                <div class="singleitem_img">
                                                                    <img src="<?php if(isset($a_list['head'])) echo $a_list['head'] ?>" lazy="loaded">
                                                                    <div class="singleitem_jibie">钻石{$a_list['level']}</div>
                                                                    <div class="singleitem_online">{$ac_list['title']}</div>
                                                                </div>
                                                                <p>{$a_list['username']}</p>
                                                                <div class="fl festival" style=""><img src="__PUBLIC__/demo/festival_z.png"></div>
                                                                <p class="singleitem_price fl">￥<span>88</span>元/小时</p>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </volist>
                                            </div>
                                        </volist>

                                    </div>
                                    <!--主播内容--end-->
                                </div> <!---->
                            </div>
                        </div> <!---->

                        <!--内容加载中--start-->
                        <div id="gloabLoading" class="gloabLoading" style="display: none;">
                            <div class="gloabLoading_text">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" xml:space="preserve"><path d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z" stroke="#f0f0f0" fill="#d0d0d0" transform="rotate(329.941 25 25)"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform></path></svg>
                                <div>加载中...</div>
                            </div>
                        </div>
                        <!--内容加载中---end-->

                        <!--关注推荐-->
                        <div class="divGuanzhuGongzhonghao" style="display: none;">
                            <div class="divGongzhongHaoContent"><p>
                                <img src="__PUBLIC__/demo/ewm.jpg"></p>
                                <p>点点约玩公众号二维码</p>
                                <div></div>
                                <p>微信下单更便捷！<a id="spanCopyGZH" href="weixin://">复制并去微信搜索</a></p>
                                <p style="height: 0.3rem;"></p>
                                <p><img src="//res.tuwan.com/templet/weixin/yuewan/static/img/gzh.c3d83f2.gif" width="100%">
                                </p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="menus">
    <style>
        #index,#order,#user{
            color: rgb(51, 51, 51);
        }
    </style>
    <div class="tabbar visible fixed" von-tabbar="">
        <div id="index" class="tabbar-item" style="">
            <a href="{:U('index/index')}">
                <div class="icon-wrapper"><i class="icon ion-home-outline"></i></div>
                <div class="text-wrapper">
                    <div class="von-scalable-wrapper" style="width: 100%; height: 100%;">
                        <div class="von-scalable" style="width: 500px; height: 46px; transform: scale(0.5, 0.5); left: -125px; top: -11.5px;"><span>首页</span></div>
                    </div>
                </div>
            </a><!---->
        </div>
        <div id="order" class="tabbar-item " style="">
            <a href="{:U('order/index')}">
                <div class="icon-wrapper"><i class="icon  ion-cart-outline"></i></div>
                <div class="text-wrapper">
                    <div class="von-scalable-wrapper" style="width: 100%; height: 100%;">
                        <div class="von-scalable" style="width: 500px; height: 46px; transform: scale(0.5, 0.5); left: -125px; top: -11.5px;"><span>订单</span></div>
                    </div>
                </div>
            </a>
            <!---->
        </div>
        <div id="user" class="tabbar-item" style="">
            <a href="{:U('user/index')}">
                <div class="icon-wrapper"><i class="icon  ion-person-outline"></i></div>
                <div class="text-wrapper">
                    <div class="von-scalable-wrapper" style="width: 100%; height: 100%;">
                        <div class="von-scalable" style="width: 500px; height: 46px; transform: scale(0.5, 0.5); left: -125px; top: -11.5px;"><span>我的</span></div>
                    </div>
                </div> <!---->
            </a>
        </div>
    </div>
    <script>
        /*控制tabbar高亮*/
        var controller_obj = $("#"+"{:strtolower(CONTROLLER_NAME)}");
        controller_obj.attr('style','color: rgb(249, 34, 70);');
        var controller_str ="{:strtolower(CONTROLLER_NAME)}";

        if(controller_str == 'index'){
            controller_obj.find('i').removeClass('ion-home-outline').addClass('ion-home');
        }else if(controller_str == 'order'){
            controller_obj.find('i').removeClass('ion-cart-outline').addClass('ion-cart');
        }else if(controller_str == 'user'){
            controller_obj.find('i').removeClass('ion-person-outline').addClass('ion-person');
        }
    </script>
</block>
<block name="js">
    <script src="__PUBLIC__/home/js/swiper.js"></script>
    <script>

        $("#banner").swiper({
            loop: true,
            autoplay: 3000,
            autoplayDisableOnInteraction: false,
        });

        $("#category").swiper({
            loop: false,
            autoplay: false,
        });
    </script>
</block>